* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: protest strike, tahmoa, san-serif;
  background-color: aquamarine;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.track-weight-button {
  background-color: white;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

.track-weight {
  background-color: aquamarine;
  text-decoration: none;
}

.track-weight-button:hover {
  background-color: rgb(255, 255, 124);
}

.fries-gif {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
}
